* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#about {
    background-color: #1b263b;
    flex-direction: column;
}

#about h1 {
    color: #e0e1dd;
    margin-bottom: 2rem;
}

button {
    color: #e0e1dd;
}

.about-content p {
    padding: 0 1rem 0 1rem;
}

.about-link {
    color: #e0e1dd;
    text-decoration: none;
}

@media screen and (max-width:680px) {
    #about h1 {
        margin: 7rem 0 1rem 0;
    }
}